.login-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

form div {
  margin-bottom: 15px; /* Add space between input groups */
}

label {
  display: block; /* Ensure labels are block level for full width */
  margin-bottom: 5px; /* Add space between label and input */
}

input {
  width: 100%; /* Ensure input fields are full width */
  padding: 8px; /* Add padding inside input fields */
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.toggle-button:hover{
  text-decoration: underline;
  background: none;
  color: #0066cc;
}

.toggle-button {
  background: none;
  border: none;
  color: #0066cc;
  cursor: pointer;
  font-size: 0.93rem;
  margin-top: 10px;
  text-decoration: none;
}

.forgot-password-link {
  display: block;
  margin-top: 15px;
  text-align: center;
  color: #0066cc;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}