.podcasts {
    padding: 2rem;
    background: #f9f9f9;
  }
  
  .podcasts h1 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .podcasts__container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .podcast-item{
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(56, 125, 255, 0.17);
    background-color: #d1ecff;
  }

  .podcast-item__video {
    width: 100% !important;
    height: 250px !important;
    object-fit: cover !important;
    border-radius: 8px 8px 0 0 !important;
    display: block !important;
}